/* 公用 */

* {
  margin: 0;
  padding: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-ovh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-break {
  word-break: break-all;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.font-size16{
  font-size:16px;
}
.font-size24{
  position:relative;
  top:-6px;
  margin:0 2px;
  font-size:24px;
}
.font-color--green{
  color:#14c75e;
}
.font-color--orange{
  color:#ff3356;
}
.bg-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}

/* 公用 */

/* 资源库 */

.c-resource {
  background: #f4f4f4;
  padding-top: 23px;
  padding-bottom: 20px;
}

.c-res__screen {
  width: 240px;
}

.c-res__screen__box {
  margin-bottom: 52px;
}

.c-res__screen__titles {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.c-res__screen__title {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-left: 32px;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

.c-res__screen__title.is-active {
  background: #14c75e;
  color: #fff;
  border-radius: 4px 4px 0 0;
}

.c-res__screen__title .arrow {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 9px;
  height: 5px;
  background: url('images/res_screen_down_arrow_active.png') no-repeat;
}

.c-res__screen__title.is-active i {
  background: url('images/res_screen_down_arrow.png') no-repeat;
}

.c-res__screen__list {
  background: #fff;
  padding: 15px 20px;
  border-radius: 4px;
}

.c-res__screen__list__chapter {
  list-style-type: none;
}

.c-res__screen__list__chapter__title {
  height: 35px;
  padding-left: 18px;
  line-height: 35px;
  color: #444;
  font-size: 14px;
  cursor: pointer;
  background: url('images/res_screen_chapter_icon.png') no-repeat left center;
}

.c-res__screen__list__chapter.is-active .c-res__screen__list__chapter__title {
  background: url('images/res_screen_chapter_icon_active.png') no-repeat left center;
  color: #14c75e;
}

.c-res__screen__list__sectionbox {
  margin: 12px 0 12px 19px;
  background: url('images/res_screen_line.png') repeat-y 5px top;
}

.c-res__screen__list__section {
  list-style-type: none;
  margin-bottom: 24px;
}

.c-res__screen__list__section.is-active {
  margin-bottom: 12px;
}

.c-res__screen__list__sectionbox .c-res__screen__list__section:last-child {
  margin-bottom: 0;
}

.c-res__screen__list__section__title {
  padding-left: 20px;
  font-size: 14px;
  line-height: 14px;
  color: #444;
  cursor: pointer;
  background: #fff url('images/res_screen_section_icon.png') no-repeat left center;
}

.c-res__screen__list__section.is-active .c-res__screen__list__section__title {
  background: #fff url('images/res_screen_section_icon_active.png') no-repeat left center;
  color: #14c75e;
}

.c-res__screen__list__matterbox {
  margin: 12px 0 12px 22px;
  padding: 10px 0;
  background: url('images/res_screen_line.png') repeat-y left top;
}

.c-res__screen__list__matter {
  list-style-type: none;
  margin-bottom: 16px;
}

.c-res__screen__list__matter__title {
  padding-left: 17px;
  line-height: 20px;
  cursor: pointer;
  background: url('images/res_screen_hline.png') no-repeat left 9px;
}

.c-res__screen__list__matterbox .c-res__screen__list__matter:last-child {
  margin-bottom: 0;
}

.c-res__screen__select {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 4;
  width: 300px;
  border-radius: 6px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, .1);
  background: #fff;
  padding: 20px 16px 16px 16px;
}

.c-res__screen__select__cell {
  margin-bottom: 16px;
}

.c-res__screen__select__title {
  float: left;
  width: 65px;
  text-align: right;
  font-size: 14px;
  line-height: 32px;
  color: #666;
}

.c-res__screen__select__content {
  float: right;
  width: 186px;
  line-height: 32px;
}

.c-res__screen__select__content .el-input__inner {
  height: 32px;
}

.c-res__screen__select__content .el-input__suffix {
  height: auto;
}

.c-res__screen__select__grade {
  float: left;
  width: 56px;
  height: 24px;
  background: #f0f0f0;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #666;
  border-radius: 4px;
  margin-right: 8px;
  margin-top: 4px;
}

.c-res__screen__select__grade:last-child {
  margin-right: 0;
}

.c-res__screen__select__grade.is-active {
  color: #fff;
  background: #14c75e;
}

.c-res__screen__select__btn {
  float: right;
  width: 72px;
  height: 32px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  background: #14c75e;
  border-radius: 4px;
}

.c-res__content {
  width: 940px;
  float: right;
}

.m-res__nav {
  background: #fff;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 24px;
}

.m-res__nav__item {
  float: left;
  height: 48px;
  margin-right: 80px;
  font-size: 16px;
  line-height: 46px;
  color: #999;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.m-res__nav__item.is-active {
  color: #444;
  border-color: #14c75e;
}

.m-res__filter {
  background: #fff;
}

.m-res__filter__line {
  padding: 12px 24px 4px;
  border-bottom: 1px dashed #e5e5e5;
}

.m-res__filter__title {
  float: left;
  width: 96px;
  font-size: 14px;
  color: #999;
  line-height: 24px;
}

.m-res__filter__content {
  float: left;
  width: 740px;
}

.m-res__filter__item {
  float: left;
  margin-right: 12px;
  margin-bottom: 8px;
  min-width: 56px;
  padding: 0 10px;
  background: #fff;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.m-res__filter__item.is-active {
  color: #fff;
  background: #14c75e;
}

.m-res__filter__item:hover {
  color: #14c75e;
}

.m-res__filter__more {
  float: right;
  font-size: 14px;
  line-height: 24px;
  color: #999;
  padding-right: 14px;
  cursor: pointer;
  background: url('images/res_filter_more.png') no-repeat right center;
}

.m-res__filter__more.is-active {
  background: url('images/res_filter_more_active.png') no-repeat right center;
}

.m-res__search {
  padding: 16px 24px;
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.m-res__search__title {
  float: left;
  width: 96px;
  font-size: 14px;
  color: #999;
  line-height: 32px;
}

.m-res__search__box {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 18px;
  padding-right: 6px;
  float: left;
}

.m-res__search__box__input {
  float: left;
  height: 30px;
  width: 265px;
  font-size: 14px;
  color: #666;
  line-height: 30px;
  border: 0;
}

.m-res__search__box__input:focus {
  outline: none;
}

.m-res__search__box__btn {
  float: left;
  width: 30px;
  height: 30px;
  background: url('images/res_search_icon.png') no-repeat center center;
  cursor: pointer;
}

.m-res__list {
  background: #fff;
  margin-top: 10px;
  border-radius: 4px;
}

.m-res__list__top {
  padding: 0 18px 0 25px;
  height: 57px;
  border-bottom: 1px solid #e5e5e5;
}

.m-res__list__top--outline {
  padding: 0 18px 0 25px;
  height: 57px;
}

.m-res__list__top__number {
  float: left;
  font-size: 14px;
  line-height: 56px;
  color: #9d9d9d;
}

.m-res__list__top__number span {
  font-family: Arial, Helvetica, sans-serif;
  color: #14c75e;
}

.m-res__list__top__screen {
  float: right;
  margin-top: 22px;
}

.m-res__list__top__screen__item {
  float: left;
  padding-right: 27px;
  font-size: 14px;
  line-height: 14px;
  margin-right: 12px;
  border-right: 1px solid #ccc;
  color: #666;
  background: url('images/res_list_top_icon.png')  no-repeat 65px center;
  cursor: pointer;
}

.m-res__list__top__screen__item.is-active {
  color: #14c75e;
  background: url('images/res_list_top_icon_active.png')  no-repeat 65px center;
}

.m-res__list__top__screen .m-res__list__top__screen__item:last-child {
  border-right: 0;
  margin-right: 0;
}

.m-res__list__page {
  text-align: center;
  padding: 32px 0;
}

/* 资源库 */

/* 课件资源列表 */

.m-paper__item {
  padding: 32px 24px;
  border-bottom: 1px solid #f0f0f0;
}

.m-paper__item__link {
  float: left;
  cursor: pointer;
}

.m-paper__item__icon {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-right: 24px;
}

.m-paper__item__info {
  float: left;
  width: 700px;
}

.m-paper__item__title {
  font-size: 20px;
  line-height: 24px;
  color: #444;
  font-weight: normal;
}

.m-paper__item__title:hover {
  color: #14c75e;
}

.m-paper__item__intro {
  margin-top: 24px;
  font-size: 12px;
  line-height: 12px;
  color: #999;
}

.m-paper__item__size,
.m-paper__item__time,
.m-paper__item__name {
  float: left;
  margin-right: 32px;
}

.m-paper__item__watch {
  float: left;
  margin-right: 32px;
  padding-left: 23px;
  background: url('images/res_list_item_watch.png') no-repeat left center;
}

.m-paper__item__load {
  float: left;
  margin-right: 32px;
  padding-left: 23px;
  background: url('images/res_list_item_download.png') no-repeat left center;
}

.m-paper__item__download {
  float: right;
  width: 72px;
  height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  background: #14c75e;
  border-radius: 4px;
  margin-top: 12px;
  cursor: pointer;
}

/* 课件资源列表 */

/* 微课资源列表 */

.m-mclass__content {
  padding: 20px 24px 0;
}

.m-mclass__item {
  float: left;
  width: 208px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.m-mclass__item:nth-child(4n) {
  margin-right: 0;
}

.m-mclass__item__box {
  position: relative;
  width: 208px;
  height: 124px;
  overflow: hidden;
  border-radius: 4px;
}

.m-mclass__item__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('images/mclass_mask.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s;
}

.m-mclass__item__box:hover .m-mclass__item__mask {
  opacity: 1;
}

.m-mclass__item__title {
  font-size: 16px;
  line-height: 24px;
  color: #444;
  margin-top: 12px;
  cursor: pointer;
  font-weight: normal;
}

.m-mclass__item__title:hover {
  color: #14c75e;
}

.m-mclass__item__intro {
  font-size: 12px;
  line-height: 18px;
  color: #999;
  margin-top: 5px;
}

/* 微课资源列表 */

/* 题库资源列表 */

.m-qu__content {
  padding: 0 24px;
}

.m-qu__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.m-qu__item:hover {
  border-color: #14c75e;
}

.m-qu__item:last-child {
  margin-bottom: 0;
}

.m-qu__item__title {
  background: #f0f0f0;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  color: #666;
  padding: 0 20px;
}

.m-qu__item__title__type {
  float: left;
}

.m-qu__item__title__source {
  float: right;
}

.m-qu__item__content {
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #444;
}

.m-qu__item__content__text img {
  max-width: 100%;
}

.m-qu__item__content__options {
  font-size: 14px;
  line-height: 24px;
  color: #444;
}

.m-qu__item__content__option--quarter {
  float: left;
  width: 25%;
}

.m-qu__item__content__option--half {
  float: left;
  width: 50%;
}

.m-qu__item__content__option--full {
  float: left;
  width: 100%;
}

.m-qu__item__opt {
  border-top: 1px dashed #e5e5e5;
  height: 57px;
  padding: 0 20px;
}

.m-qu__item__check {
  float: left;
  font-size: 14px;
  line-height: 16px;
  color: #666;
  padding-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  cursor: pointer;
  background: url('images/question_check.png') no-repeat left center;
}

.m-qu__item__collect {
  float: left;
  font-size: 14px;
  line-height: 16px;
  color: #666;
  padding-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  cursor: pointer;
  background: url('images/question_collection.png') no-repeat left center;
}

.m-qu__item__error {
  float: left;
  font-size: 14px;
  line-height: 16px;
  color: #666;
  padding-left: 24px;
  margin-top: 20px;
  cursor: pointer;
  background: url('images/question_warn.png') no-repeat left center;
}

.m-qu__item__choose {
  float: right;
  width: 72px;
  height: 32px;
  font-size: 14px;
  margin-top: 13px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  background: #14c75e;
  border-radius: 4px;
}

.m-qu__item__intro {
  float: right;
  margin-right: 32px;
  font-size: 12px;
  line-height: 12px;
  color: #999;
  margin-top: 24px;
}

/* 题库资源列表 */

/* 资讯列表 */

.c-news {
  background: #f4f4f4;
  padding: 20px 0;
}

.c-news__content {
  background: #fff;
}

.c-news__search {
  border-bottom: 1px solid #e5e5e5;
  padding: 16px 20px;
}

.c-news__list__item {
  padding: 32px 24px;
  border-bottom: 1px solid #f0f0f0;
}

.c-news__list__item__photo {
  width: 220px;
  height: 165px;
  float: left;
}

.c-news__list__item__info {
  float: right;
  width: 910px;
}

.c-news__list__item__title {
  font-size: 20px;
  line-height: 24px;
  color: #444;
  font-weight: normal;
}

.c-news__list__item__content {
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px;
  color: #999;
  min-height: 120px;
}

.c-news__list__item__more {
  color: #14c75e;
}

.c-news__list__item__bot {
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.c-news__list__item__time {
  float: left;
}

.c-news__list__item__share {
  float: right;
  padding-left: 22px;
  background: url('images/news_list_share.png') no-repeat left center;
}

.c-news__list__item__watch {
  float: right;
  padding-left: 25px;
  margin-right: 25px;
  background: url('images/res_list_item_watch.png') no-repeat left center;
}

/* 资讯列表 */

/* 资源详情 */

.c-res-info {
  background: #f4f4f4;
  padding-bottom: 20px;
}

.m-breadcrumb {
  font-size: 12px;
  line-height: 40px;
  color: #666;
}

.m-breadcrumb a {
  color: #666;
}

.m-breadcrumb a:hover {
  color: #14c75e;
}

.c-res-info__detail {
  padding: 32px 20px 68px;
  background: #fff;
  border-radius: 4px;
  width: 940px;
  float: left;
}

.c-res-info__detail__icon {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
.c-res-info__detail__intro{
  margin-bottom:20px;
}

.c-res-info__detail__text {
  float: left;
}

.c-res-info__detail__text__title {
  font-size: 20px;
  line-height: 20px;
  color: #444;
  font-weight: normal;
}

.c-res-info__detail__text__detail {
  font-size: 12px;
  line-height: 12px;
  color: #666;
  margin-top: 12px;
}

.c-res-info__detail__text__size,
.c-res-info__detail__text__time,
.c-res-info__detail__text__name {
  float: left;
  margin-right: 40px;
}

.c-res-info__detail__text__watch {
  float: left;
  margin-right: 40px;
  padding-left: 23px;
  background: url('images/res_list_item_watch.png') no-repeat left center;
}

.c-res-info__detail__text__load {
  float: left;
  margin-right: 40px;
  padding-left: 23px;
  background: url('images/res_list_item_download.png') no-repeat left center;
}

.c-res-info__detail__download {
  float: right;
  width: 104px;
  height: 40px;
  background: #14c75e;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.c-res-info__side {
  float: right;
  width: 240px;
  border:1px solid #eee
}

.c-res-info__profile {
  padding: 24px 20px;
  background: #fff;
  border-radius: 4px;
}

.m-res-info__subtitle {
  font-size: 18px;
  line-height: 20px;
  color: #444;
  padding-left: 16px;
  background: url('images/res_info_subtitle.png') no-repeat left center;
  margin-bottom: 18px;
  font-weight: normal;
}

.c-res-info__profile__line {
  font-size: 12px;
  line-height: 24px;
  color: #999;
  margin-bottom: 14px;
}

.c-res-info__profile__line:last-child {
  margin-bottom: 0;
}

.c-res-info__profile__line span {
  color: #666;
}
span.c-res-info__profile__line-detail{
  color:#999;
}
.c-res-info__profile__title {
  float: left;
  width: 42px;
}

.c-res-info__profile__content {
  float: right;
  width: 158px;
}

.c-res-info__profile__btn {
  color: #14c75e;
}

.c-res-info__rec {
  padding: 24px 20px;
  background: #fff;
  border-radius: 4px;
}

.c-res-info__rec__item {
  cursor: pointer;
  padding: 6px 0;
  margin-bottom: 26px;
}

.c-res-info__rec__item:last-child {
  margin-bottom: 0;
}

.c-res-info__rec__icon {
  float: left;
  width: 40px;
  height: 40px;
}

.c-res-info__rec__content {
  float: right;
  width: 158px;
}

.c-res-info__rec__title {
  font-size: 14px;
  line-height: 14px;
  color: #444;
  font-weight: normal;
}

.c-res-info__rec__title:hover {
  color: #14c75e;
}

.c-res-info__rec__detail {
  margin-top: 12px;
}

.c-res-info__rec__detail__watch {
  float: left;
  margin-right: 23px;
  padding-left: 23px;
  background: url(images/res_list_item_watch.png) no-repeat left center;
}

.c-res-info__rec__detail__load {
  float: left;
  padding-left: 23px;
  background: url(images/res_list_item_download.png) no-repeat left center;
}

/* 资源详情 */

/* 咨询详情 */

.c-news-info {
  background: #f5f5f5;
  padding-bottom: 20px;
}

.c-news-info__detail {
  width: 860px;
  float: left;
  background: #fff;
  border-radius: 4px;
  padding: 28px 32px 0;
}

.c-news-info__detail__info {
  padding-bottom: 33px;
  border-bottom: 1px solid #e5e5e5;
}

.c-news-info__detail__title {
  font-size: 28px;
  line-height: 36px;
  color: #444;
  font-weight: normal;
}

.c-news-info__detail__intro {
  font-size: 14px;
  line-height: 14px;
  color: #9d9d9d;
  margin-top: 12px;
}

.c-news-info__detail__intro__time,
.c-news-info__detail__intro__name {
  float: left;
  margin-right: 24px;
}

.c-news-info__detail__intro__watch {
  float: left;
  margin-right: 24px;
  padding-left: 23px;
  background: url(images/res_list_item_watch.png) no-repeat left center;
}

.c-news-info__detail__intro__share {
  float: left;
  padding-left: 22px;
  background: url('images/news_list_share.png') no-repeat left center;
}

.c-news-info__detail__content {
  font-size: 18px;
  line-height: 32px;
  color: #444;
  padding: 32px 0;
  min-height: 500px;
}

.c-news-info__detail__pages {
  height: 44px;
  font-size: 14px;
  line-height: 44px;
  border-top: 1px solid #e5e5e5;
}

.c-news-info__content .c-news-info__detail__pages a {
  color: #999;
  width: 380px;
}

.c-news-info__detail__pages a:hover {
  color: #14c75e;
}

.c-news-info__detail__pages__prev {
  float: left;
}

.c-news-info__detail__pages__next {
  float: right;
  text-align: right;
}

.c-news-info__quality {
  float: right;
  width: 320px;
  background: #fff;
  border-radius: 4px;
  padding: 32px 20px;
}

.c-news-info__quality__item {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  margin-bottom: 26px;
  padding-left: 18px;
  cursor: pointer;
}

.c-news-info__quality__item:hover {
  color: #14c75e;
}

.c-news-info__quality__item::after {
  content: ' ';
  width: 6px;
  height: 6px;
  background: #14c75e;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 4px;
}

.c-news-info__quality__item:last-child {
  margin-bottom: 0;
}

.c-news-info__quality__item--hot {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  margin-bottom: 26px;
  padding-left: 18px;
  cursor: pointer;
}

.c-news-info__quality__item--hot:hover {
  color: #14c75e;
}

.c-news-info__quality__item--hot::after {
  content: ' ';
  width: 6px;
  height: 6px;
  background: #ff6600;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 4px;
}

/* 咨询详情 */
/*公共头部*/
.c-analy-heaher {
  position: relative;
  width: 100%;
  height: 115px;
  margin:10px 0 10px;
  background: #fff;
  border: 1px solid #e5e5e5;
}

.c-analy-heaher--sm .c-analy-heaher__main {
  padding: 34px 0 0 66px;
}

.c-analy-heaher__icon {
  position: absolute;
  top: 0;
  left: 24px;
  height: 48px;
  width: 24px;
  background: url('img/after.png') no-repeat center;
}
.c-analy-heaher__icon--after{
  background-image:url('img/after.png')
}
.c-analy-heaher__icon--test{
  background-image:url('img/test.png')
}
.c-analy-heaher__icon--oncourse{
  background-image:url('img/oncourse.png')
}
.c-analy-heaher__icon--pre{
  background-image:url('img/pre.png')
}
.c-analy-heaher__main {
  padding: 24px 0 0 66px;
}

.c-analy-tit {
  max-width:400px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.c-analy-tit--secon {
  max-width:400px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  font-size: 14px;
  color: #666;
}

.c-analy-type-tips {
  font-size: 12px;
  color: #ff3356;
  border: 1px solid #ff3356;
  padding: 0 5px;
  border-radius: 4px;
}

.c-analy-tips {
  font-size: 12px;
  color: #999;
}

.c-analy-tip {
  display: inline-block;
  margin-right: 66px;
}

.c-analy-heaher__operation {
  float: right;
}

.c-analy-heaher__operation .u-btn {
  margin: 42px 42px 0 0;
}

.c-analy-heaher__lookdetail {
  float: left;
  min-width: 140px;
  height: 90px;
  padding-top: 32px;
  text-align: center;
}

.c-analy-heaher__lookdetail--num {
  font-size: 36px;
  height: 34px;
  line-height: 34px;
}

.c-analy-heaher__lookdetail--num sup {
  top: -.3em;
}

.c-analy-heaher__lookdetail--tips {
  margin-top:4px;
  font-size: 14px;
  color: #333;
}
